form {
    color: var(--white);
}

.pContacto{
    color: var(--white);
}


.formularioDeContacto {
    background-color: var(--color4);
    margin-top: 3rem;
    padding: 3rem;
    border: 10px solid var(--color2);
    border-radius: 20px;
}

.botonEnviar{
    background-color: var(--color2);
    font-weight: bold;
    margin-top: 1rem;
}

.botonEnviar:hover{
    background-color:darkblue;
    color: white;
}